<div class="page-header">
  <h1>User <small>Dashboard</small></h1>
</div>

<h2><%#= current_user.email%></h2>

<p><%#= @posts.inspect %></p>

<p><%#= @posts.first.inspect %></p>
<div class="row ">
  <div class="col-md-3"></div>
  <div class="col-md-6 main"><p>Hello, <%= current_user.email%>!</p></div>
  <div class="col-md-3"></div>
</div>
<div class="row ">
  <div class="col-md-2"></div>
  <div class="col-md-8"><h2>Add Friends List</h2></div>
  <div class="col-md-2"></div>
</div>
<% @users.each do |user| %>
  <% if user.id != current_user.id %>
    <div class="row ">
      <div class="col-md-3"></div>
      <div class="col-md-4"><h4><%= user.email %></h4></div>
      <div class="col-md-5">
        <% friendship = Friendship.check_friendship current_user, user %>
        <!-- friend requested -->
        <% if friendship[0] && friendship[1].requested? && friendship[1].user_id == current_user.id %>
          <%= link_to 'Requested. Cancel?', '#' %>
        <% elsif friendship[0] && friendship[1].requested? && friendship[1].user_id == user.id %>
          <%= link_to 'Accept', accept_friend_friends_path(friend_id: user.id), class: 'btn links' %>
          <%= link_to 'Reject', friend_path(user), method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn links' %>
        <!-- when friend -->
        <% elsif friendship[0] && friendship[1].accepted? %>
          <%= link_to 'Remove', '#' %>
        <!-- when request received -->
        <%# elsif friendship[0] && friendship[1].status == 0 %>

        <% else %>
          <%= link_to 'Add Friend', add_friend_friends_path(friend_id: user.id), class: 'btn links' %>
        <% end %>
      </div>  
    </div>
  <% end %>
<% end %>
