<h2 class="h2_form" >Edit Profile <%= resource_name.to_s.humanize %></h2>
<div class="row signup">
  <div class="col-md-3"></div>

  <div class="col-md-6 form_main">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

      <div class="field form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group">
       <%= f.label :password %><br />
       <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
       
       <% if @minimum_password_length %>
       <em><%= @minimum_password_length %> characters minimum</em>
       <% end %>
        </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: 'btn-default' %>
  </div>
  <% end %>
<p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn-default' %></p>

<%= link_to "Back", :back %>
 </div>
  <div class="col-md-3"></div>
</div>
<div class="row" style="height: 40px;"></div>
