<% @post.comments.each do |comment| %>
    <tr>
    	<% friends = Friendship.check_friendship current_user, comment.user %>
    		<% if friends[0] || current_user.id == comment.user.id %>
    			<td><%= comment.content %></td>
    			<td><%= comment.user.email %></td>
    			<td><%= comment.created_at %></td>
    			<%#= current_user.inspect %>
    			<%#= @post.inspect %>
    			<%#= comment.inspect %>
    			<%#= friends[1] %>
    			<td>
    			<% if comment.check_owner(current_user) %>
    				<%= link_to 'Edit', edit_post_comment_path(@post, comment), class: 'btn links' %>	
          <% end %>
          <% if current_user.id == comment.user_id || current_user.id == @post.user_id %>
          	<%= link_to 'Delete', post_comment_path(@post, comment) , method: :delete, data: {confirm: 'Are you sure?' }, remote: true, class: 'btn links'%>
          <% end %>
    		  </td>
    	<% end %>
    </tr>
<% end %>