<h2><center>Post Comments</center></h2>
<div class="container">
	<% @post.comments.each do |comment| %>
		<div class="row">
			<span><%= comment.content %></span>
			<%= time_ago_in_words(comment.created_at) %>
			<%= link_to 'Edit', edit_comment_path(comment), class: 'btn links' %>
			<%= link_to 'Delete', comment_path(comment) , method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn links'%>
	    <br><br>
  </div>
<% end %>
  
</div>
