<h2 class="h2_form">Add New Comment</h2>
<div class="row signup">
   <div class="col-md-3"></div>
   <%= form_for(@comment) do |p| %>
    <div class="col-md-6 form_main">

          <div class="field form-group">
               <%= p.label :comment %><br />
               <%= p.text_field :content, autofocus: true, class: 'form-control' %>
          </div>
          <div class="actions ">
               <%= p.submit "Comment", class: 'btn-default'%>
          </div>
    <% end %>

     <%#= render "devise/shared/links" %>
     </div>
        <div class="col-md-3"></div>
</div>