<h2 class="h2 form"><center>Forgot your password?</center></h2>

<div class="row signup">
    <div class="col-md-3"></div>

    <div class="col-md-6 form_main">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: 'btn-default' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

