
<h2 class="h2_form">Log In</h2>
<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 form_main">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="field form-group">
               <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <div class="field form-group">
               <%= f.label :password %>
               <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? -%>
          <div class="field form-group">
               <%= f.check_box :remember_me %>
               <%= f.label :remember_me %>
           </div>
           <% end %>

          <div class="actions ">
               <%= f.submit "Log in", class: 'btn-default'%>
          </div>
     <% end %>

     <%= render "devise/shared/links" %>
     </div>
          <div class="col-md-3"></div>
</div>