<h2><center>Post List</center></h2>
<div class="container">
	<% @posts.each do |post| %>
	  <% friends = Friendship.check_friendship current_user, post.user %>
    	<% if friends[0] || current_user.id == post.user.id %>
				<div class="row post_col">
					<h3><%= post.title %></h3>
					<span><%= post.content %></span>
					<h5><%= time_ago_in_words(post.created_at) %></h5>
					<%= link_to 'Show', post_path(post), class: 'btn links' %>
					<%= link_to 'Edit', edit_post_path(post), class: 'btn links' %>
					<%= link_to 'Delete', post_path(post) , method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn links'%>
	    		<br><br>
  			</div>
  			<% end %>
<% end %>
  
</div>
