<div class="panel panel-primary">
	<div class="panel-heading"><%= @post.title %></div>

  <div class="panel-body">

   <span class="content"><h4><%= @post.content %></h4></span> 
   <span class="timestamp"> posted <%= time_ago_in_words(@post.created_at) %> ago</span> 
  </div>
  
</div>

<h4>Comments</h4>
<table class="table">
    	<thead>
    		<tr>
    			<th>Comment</th>
    			<th>Comment by</th>
    			<th>Created At</th>
    			<th>action</th>
    		</tr>
    	</thead>
    	<tbody id='com'>
      	<%= render 'comments/comment' %>
      </tbody>
    </table>
    <br/>
    <br/>
 <%= form_for [@post, @comment], remote: true do |f| %>
   			   <div class="field form-group">
                <%= f.label :Comment %><br />
                <%= f.text_area :content, autofocus: true, class: 'form-control', id: 'comment_field' %>
            </div>
            <div class="actions ">
               <%= f.submit "Add Comment", class: 'btn-default'%>
            </div>
 <% end %>

<% if false %>
<%= form_for([@post, @comment]) do |p| %>
  <div class="field form-group">
     <%= p.label :content %><br />
     <%= p.text_field :content, autofocus: true, class: 'form-control' %>
  </div>
  <div class="actions ">
     <%= p.submit "Save Change", class: 'btn-default'%>
  </div> 
<% end %>
<% end %>



	