
.header{
	
	height: 70px;
	border-bottom: 6px solid black;
}

.header a{
	font-size: 20px;
}
.header ul li{
	margin-right: 50px;
}

.main{
	font-size:36px;
	font-variant:bolder;
	padding:80px;
	margin-top: 100px;
	background-color: #ccc;
}

.h2_form{
	text-align: center;
	margin-top: 20px;
	font-size: 35px;
}
.form_main{
	background-color: #ccc;
	padding: 30px;
}
.post_col{
	background-color: #ccc;
	margin-bottom: 10px;
}
.links{
	background-color: #565051;
	color: #fff;
}
.single_post{
	background-color: #ccc;
	padding: 30px;
}
.title{
	text-align: center;
}
.content{
	text-align: left;
}
.user{
	position: absolute;
	float: left;
}
.timestamp{
	float: right;
}