<header>
<nav class="navbar navbar-default header">
    <div class="navbar-header ">
      <a class="navbar-brand" href="#" style="float: left;">
        <img alt="Friend App" src="..." style="font-size: 16px;">
      </a>
       <ul class="nav nav-pills menu" style="float: right; margin-right: 30px;">
  <li role="presentation" class="active" ><%= link_to "Home" , root_path%></li>
  <% if not user_signed_in? %>
    <li role="presentation" ><%= link_to "Sign-Up" , new_user_registration_path %></li>
    <li role="presentation" ><%= link_to "Log-In" , new_user_session_path %></li>
  <% end %>
  <% if user_signed_in? %>
  <li role="presentation"><%= link_to "Edit profile", edit_user_registration_path %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Post <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "All post", posts_path %></li>
      <li><%= link_to "Add New Post", new_post_path %></li>
    </ul>
  </li>
  <li role="presentation" ><%= link_to "Logout" , destroy_user_session_path, :method => :delete %></li>
  <% end %>

</ul>
    </div>
</nav>
</header>